
    .poster{
      width:50%;
      margin-left:25%;
      padding: 40px;
      text-align: center;
      font-family: 'Libre Baskerville', serif;
      color: white;
    }
    body{
      background-color: black;
    }

    .motivation-meme-image{
      border: 5px solid white;
      width: 100%;
    }

    h1{
      text-transform: uppercase;
      
    }

    

    